@charset "UTF-8";
/* telefoon */
@media screen and (min-width: 100px) and (max-width:768.9px) {


#reservering{
  margin-left: 15vw;
  margin-top: 5vh;
  border: 1px solid #FF9100;
  background-color: #CACACA;
  width: 70vw;
  height: 52vh;
}



.vis-gerecht{
  display: none;
}

.item-contact{
  margin-left: 15vw;
  margin-top: 5vh;
  border: 1px solid #FF9100;
  background-color: #CACACA;
  width: 70vw;
  height: 50vh;
  text-align: center;
}

.item-contact p{
margin-bottom: 1vh;
}



.item-h1{
text-align: center;
position: absolute;
top: 75vh;
left: 27vw;
}

#maps{

	margin-top: 8vh;
  width:100%;
  height:390px ;
  frameborder:0;
  border:solid 1px black;
}



}
/* tablet/ipad */
@media screen and (min-width: 769px) and (max-width:1025.9px) {


  #flexbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }


  #reservering{
    margin-right: 3vw;
    margin-top: 5vh;
    border: 1px solid #FF9100;
    background-color: #CACACA;
    width: 40vw;
    height: 32vh;
  }

  input{
  width: 15vw;
  border-radius: 20px;
  border: 1px solid #1D1D1D;
  }


  .vis-gerecht{
    display: none;
  }
  .item-contact{
    margin-left: 3vw;
    margin-top: 5vh;
    border: 1px solid #FF9100;
    background-color: #CACACA;
    width: 40vw;
    height: 32vh;
    text-align: center;
  }

  .item-contact p{
  margin-bottom: 1vh;
  }



  .item-h1{
  text-align: center;
  position: absolute;
  top: 16vh;
  left: 71vw;
  }



  #maps{
  	margin-top: 3vh;
    width:100%;
    height:510px ;
    frameborder:0;
    border:solid 1px black;

  }




}
/* desktop */
@media screen and (min-width: 1026px) {

  .item-h1{
    position: absolute;
    left: 22vw;
    top: 27.5vh

  }

  .vis-gerecht{
    position: absolute;
    right: 5vw;
    top: 30vh;
    height: 400px;
  }

  .item-contact{
    display: none;
  }



  #reservering{
    margin-left: 18vw;
    margin-top: 10vh;
    border: 1px solid #FF9100;
    background-color: #CACACA;
    width: 20vw;
  }

  input{
  margin-bottom: 1vh;
  border-radius: 20px;
  border: 1px solid #1D1D1D;
  }



    #maps{
      display: none;
    	margin-left: 5vw;
    	margin-top: 3vh;
      width:90%;
      height:410px ;
      frameborder:0;
      border:solid 1px black;

    }


}
