@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}


/* telefoon */
@media screen and (min-width: 100px) and (max-width:768.9px) {


  .item-contact{
    margin-left: 15vw;
    margin-top: 5vh;
    border: 1px solid #FF9100;
    background-color: #CACACA;
    width: 70vw;
    height: 50vh;
    text-align: center;
  }

  #maps{

  	margin-top: 8vh;
    width:100%;
    height:390px ;
    border:solid 1px black;
  }


}
/* tablet/ipad */
@media screen and (min-width: 769px) and (max-width:1025.9px)  {



    #flexbox{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }


    .item-contact{
      margin-left: 3vw;
      margin-top: 5vh;
      border: 1px solid #FF9100;
      background-color: #CACACA;
      width: 40vw;
      height: 32vh;
      text-align: center;
      font-size: 1.2rem;
    }

    .item-contact p{
    margin-bottom: 1vh;
    }



    #maps{
    	margin-top: 3vh;
      margin-right: 5vw;
      width:40vw;
      height:500px ;
      border:solid 1px black;

    }


}
/* desktop */
@media screen and (min-width: 1026px) {



  #flexbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .item-contact{
    margin-left: 15vw;
    margin-top: 15vh;
    border: 1px solid #FF9100;
    background-color: #CACACA;
    width: 22vw;
    height: 55vh;
    text-align: center;
    font-size: 1.1rem;
  }

  .item-contact p{
  margin-bottom: 1vh;
  }

  #maps{
    margin-top: 5vh;
    margin-right: 3vw;
    width:50%;
    height: 71vh;
    border:solid 1px black;

  }



}
