*{

  padding: 0;
  margin: 0;
}
/* telefoon */
@media screen and (min-width: 100px) and (max-width:768.9px) {


#reservering{
  display: none
}

.vis-gerecht{
  display: none;
}



h1{
  display: none;
}

#maps{
	margin-left: 7vw;
	margin-top: 8vh;
  width:85%;
  height:390px ;
  frameborder:0;
  border:solid 1px black;
}



}
/* tablet/ipad */
@media screen and (min-width: 750px) {

  #reservering{
    display: none
  }

  .vis-gerecht{
    display: none;
  }

  h1{
    display: none;
  }

  #maps{
  	margin-left: 5vw;
  	margin-top: 3vh;
    width:90%;
    height:410px ;
    frameborder:0;
    border:solid 1px black;

  }




}
/* desktop */
@media screen and (min-width: 922px) {

  h1{
    position: absolute;
    left: 22vw;

  }

  .vis-gerecht{
    position: absolute;
    right: 5vw;
    top: 19vh;
    height: 400px;
  }

  /* #reservering{
    position: absolute;
    left: 22vw;
    margin-top: 5vh;
    border: 1px solid #FF9100;
    background-color: #CACACA;
    padding: 50px;
  } */

  #reservering{
    margin-left: 18vw;
    margin-top: 10vh;
    border: 1px solid #FF9100;
    background-color: #CACACA;
    width: 20vw;
  }

  input{
  margin-bottom: 1vh;
  border-radius: 20px;
  border: 1px solid #1D1D1D;
  }



    #maps{
      display: none;
    	margin-left: 5vw;
    	margin-top: 3vh;
      width:90%;
      height:410px ;
      frameborder:0;
      border:solid 1px black;

    }


}
