@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style-type:none;
    }

@media screen and (min-width: 768px) and (max-width:1025.9px) {
  .image-12{
    margin-bottom: 6vh;
  }
    .slider img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        width: 50%;
        height: 50%;

    }
    .prev {
        display: none;
        left:0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
    }
    .next {
        display: none;
        right:0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
    }


}


/* telefoon */
@media screen and (min-width: 100px) and (max-width:767.9px) {
  .image-12{
    margin-bottom: 6vh;
  }

    .slider img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        width: 50%;
        height: 50%;

    }
    .prev {
        display: none;
        left:0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
    }
    .next {
        display: none;
        right:0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
    }

}


/* desktop */
@media screen and (min-width: 1026px) {




    .thumb {
        height:140px;
        width:210px;
        top:136px;
        left:12px;
        position:relative;
        background-size:contain;
        box-shadow:-12px 0 0 12px #000;
    }
    .thumb:last-of-type {
      box-shadow:0 0 0 12px #000;
    }
    .thumb:after {
      content:attr(title);
      font:normal normal 20pt 'impact';
      position:relative;
    }
    .thumb:hover {
        -webkit-filter: grayscale(80%);
        -moz-filter: grayscale(80%);
        -ms-filter: grayscale(80%);
        -o-filter: grayscale(80%);
        filter: grayscale(80%);
        filter: url(grayscale.svg#greyscale);
        filter: gray;
    }
    a.prev,a.next {
        height:91px;
        position:absolute;
        width:43px;
        top:50%;
        margin-top:-30px;
        opacity:0.6;
        text-indent:-99999px;
        cursor:pointer;
        transition:opacity 200ms ease-out;
    }
    a.prev:hover,a.next:hover {
        opacity:1;
    }
    .prev {
        left:0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
    }
    .next {
        right:0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
    }
    .slider {
        height:100vh;
        position: relative;
    }
    .slide {
        position:absolute;
        height:100%;
        width:100%;
    }
    .slider .slide:target {
        z-index: 100;
    }
    .slide {
        max-width:100%;
        width:100%;
        position: absolute;
        left:0;
    }
.slider img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 70%;
    height: 70%;

}
}
