@charset "UTF-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

/* Telefoon */
@media screen and (min-width: 100px) and (max-width: 599px) {

    body{
        max-width: 100%;
        overflow-x: hidden;
    }

    .item-maintext{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .item-maintext p {
        width: 300px;
        text-align: center;
        /* padding-left: 7vw;
        padding-right: 7vw; */
    }
}
    
/* Tablet */
@media screen and (min-width: 600px) and (max-width: 921px) {

    .item-maintext {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .item-maintext p {
        width: 675px;
        text-align: center;
        margin-left: 6vw;
    }

}

/* Computer */
@media screen and (min-width: 922px) {
	.item-maintext {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .item-maintext p {
        width: 1200px;
        text-align: center;
        padding-left: 17vw;
    }
}

