@charset "UTF-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

/* Telefoon */
@media screen and (min-width: 100px) and (max-width:768.9px) {

    .item-maintext{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .item-maintext p {
        width: 350px;
        text-align: center;
        margin-left: 4vw;
    }
}
    
/* Tabled */
@media screen and (min-width: 750px) and (max-width: 1024px) {
footer{
    position: relative;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #1D1D1D;
 color: #FF9100;
 text-align: center;
}


}

/* Computer */
@media screen and (min-width: 769px) {
	
}

