@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
/* telefoon */
@media screen and (min-width: 100px) and (max-width:767.9px) {

body {
  background-color: #EFEFEF;
}

  .MenukaartBackground {
    position: absolute;
    top: 22vh;
    height: 130vw;
    width: 100vw;
    border-radius: 20px;
  }

  h4 {
    position: relative;
    top: 11vh;
    margin-left: 33vw;
    font-size: 30px;
  }

  .Hoofdtext1, .Hoofdtext2 {
    bottom: 1.5vw;
    position: relative;
    font-size: 20px;
  }

  .Gerecht1, .Gerecht2, .Gerecht3, .Gerecht4, .Gerecht5 {
    position: relative;
    font-size: 18px;
  }

  .Gerecht1 {
   top: 28vw;
   margin-left: 10vw;
  }

  .Gerecht2 {
    top: 5vh;
  }

  .Gerecht3 {
    bottom: 60vw;
    margin-left: 53vw;
  }

  .Gerecht4 {
    bottom: 50vw;
    margin-left: 55vw;
  }

  .Gerecht5 {
    bottom: 40vw;
    margin-left: 55vw;
  }
}

/* tablet/ipad */
@media screen and (min-width: 768px) and (max-width:1025.9px) {

  body {
    background-color: #EFEFEF;
  }

  .MenukaartBackground {
    position: absolute;
    left: 5vw;
    top: 20vh;
    height: 100vw;
    width: 90vw;
    border-radius: 20px;
  }

  h4 {
    position: relative;
    margin-left: 32vw;
    font-size: 60px;
    top: 9.5vw;
  }

  .Hoofdtext1, .Hoofdtext2 {
    bottom: 1.5vw;
    position: relative;
    font-size: 35px;
  }

  .Gerecht1, .Gerecht2, .Gerecht3, .Gerecht4, .Gerecht5 {
    position: relative;
    font-size: 30px;
  }

  .Gerecht1 {
   top: 13vw;
   margin-left: 16vw;
  }

  .Gerecht2 {
    top: 5vw;
  }

  .Gerecht3 {
    bottom: 59vw;
    margin-left: 54vw;
  }

  .Gerecht4 {
    bottom: 53vw;
    margin-left: 54vw;
  }

  .Gerecht5 {
    bottom: 45vw;
    margin-left: 54vw;
  }
}

/* desktop */
@media screen and (min-width: 1026px) {

  body {
    background-color: #EFEFEF;
  }

  .MenukaartBackground {
    position: absolute;
    left: 15vw;
    top: 15vh;
    height: 70vw;
    width: 70vw;
    border-radius: 20px;
    margin-top: 5vh;
  }

h4 {
  position: relative;
  top: 5vw;
  margin-left: 40vw;
  font-size: 65px;
}

.Hoofdtext1, .Hoofdtext2 {
  bottom: 1.5vw;
  position: relative;
  font-size: 45px;
}

.Gerecht1, .Gerecht2, .Gerecht3, .Gerecht4, .Gerecht5 {
  position: relative;
  font-size: 37px;
}

.Gerecht1 {
  top: 9vw;
  margin-left: 22vw;
}

.Gerecht2 {
  top: 4vw;
}

.Gerecht3 {
  bottom: 35vw;
  margin-left: 55vw;
}

.Gerecht4 {
  bottom: 30vw;
  margin-left: 55vw;
}

.Gerecht5 {
  bottom: 25.3vw;
  margin-left: 55vw;
}
  }
