@charset "UTF-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

/* Telefoon */
@media screen and (min-width: 100px) and (max-width:768.9px) {
    
.content{
    width: 100%;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 15%;
}

.item-img{
    width: 35%;
}

.item-img img{
    height: 125px;
    width: 125px;
    border-radius: 20%;
}

.text{
    width: 60%;
}
    
    .item-pcfooter{
        display: none;
    }
    .socials{
        height: 40px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    #copyright{
        font-size: 0.7rem;
        color: #CCCCCC;
        text-align: center;
    }
    
    .footerkop{
        font-size: 1.7rem;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
}
    
/* Tabled */
@media screen and (min-width: 750px) and (max-width: 1024px) {


.item-onsRestaurant {
    height: 200px;
    width: 100px;
    margin-left: 20vw;
    border-radius: 20%;
    position: absolute;
}

.item-allesOverOns {
    margin-left: 20vw;
    font-size: 25px;
}

.item-voorbeeldVanGerecht {
    height: 15vh;
    width: 33vw;
    margin-left: 20vw;
    border-radius: 20%;
    position: absolute;
}

.item-infoOverGerechten {
    margin-left: 20vw;
    font-size: 25px;
}

.item-eigenaar {
    height: 15vh;
    width: 33vw;
    margin-left: 20vw;
    border-radius: 20%;
    position: absolute;
}

.item-infoEigenaar {
    margin-left: 20vw;
    font-size: 25px;
}


.item-pcfooter{
    display: none;
}
.socials{
    height: 45px;
    padding-right: 21px;
    padding-left: 21px;
  padding-top: 1vh;
}

#copyright{
    font-size: 1rem;
    color: #CCCCCC;
    text-align: center;
  padding-top: 1vh;
}

.footerkop{
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1D1D1D;
    color: #FF9100;
    text-align: center;
}

}

/* Computer */
@media screen and (min-width: 769px) {

    .content{
        width: 100%;
        display: flex;
        padding-left: 10%;
        padding-right: 2%;
        padding-top: 1%;
    }
    
    .item-img{
        width: 20%;
    }
    
    .item-img img{
        height: 250px;
        width: 250px;
        border-radius: 20%;
    }
    
    .text{
        width: 50%;
    }

}